<!DOCTYPE HTML>

<html>
	<head>
		<title>Giphy Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="Assets/Search.png">
		<script src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body class="is-loading" >

		<div id="app">
			<div id="wrapper">
							
				<header :class="mainHead">
					<div class="head-wrap">
						<span><img src="Assets/logo.png" alt="" /></span>
						<h1>giphy search</h1>
					</div>
				</header>

				<section :class="secondHead">
					<a href="/" class="secondWrap">
						<span class="avatar"><img src="Assets/logo.png" alt="" /></span>
						<h1>giphy search</h1>
						<div style="clear:both"></div>
					</a>
					
				</section>

				<div class="search" id="main">
					<div class="bg">
						<div class="search-container">
							<div class="icon-container">
								<img src="Assets/Search.png" alt="">
							</div>
							<div class="input-container">
								<input 
								
								type="search" placeholder="Search for GIFs at Giphy"  v-model="query" @keyup="searchGifs">
							</div>						
							<div style="clear:both"></div>
						</div>					
					</div>					
				</div>
				
				<section class="container">
			
						<div  :class="secondHead" id="secondFooter">
								<a href="http://html5up.net">COAX Software</a> Marshall Challenge by <a href="http://html5up.net">IT-Rally</a>	
						</div>
					
					<div class="columns is-multiline" v-if="searchedGifs">
						<div class="column is-one-quarter" v-for="gif in searchedGifs">
		
							<div class="gif-box">
								<a :href="gif.url">
									<img :src="gif.images.original.url" class="gif-image">
								</a>
							</div>
						</div>
					</div>
				</section>
				
				<footer :class="mainHead" id="footer">
						<a href="http://html5up.net">COAX Software</a> Marshall Challenge by <a href="http://html5up.net">IT-Rally</a>	
				</footer>

			</div>
		</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}


        const app = new Vue ({
            el: '#app',

            data: {

				isOpen: true,
                apiUrl: 'https://api.giphy.com/v1/gifs',
                apiKey: 'OkDIm0S5wlDZU4Bx0TQCig7UQIPofV3c',
                gifs: null,
                searchedGifs: null,
                query: ''
            },

            methods: {

                searchGifs: function(){
                    const url = `${this.apiUrl}/search?api_key=${this.apiKey}&q=${this.query}&limit=24`;
					
					this.isOpen = false
					
                    fetch(url)
                        .then(response => response.json())
						.then(data => this.searchedGifs = data.data)
						.then(data => console.log(data))
				}
				
			},
			computed: {
				mainHead: function() {
					return {
						'is-closed': !this.isOpen
					}
				},
				secondHead: function() {
					return {
						'is-closed': this.isOpen
					}
				}
			}

        });

</script>



	</body>
</html>